:root {
    --color-primary: rgb(242, 95, 58);
    --color-secondary: rgb(0,0,0);
    --color-tertiary: rgba(0,0,0);


    --button-primary-bgcolor: var(--color-primary);
    --button-primary-color: #fff;
}
